/* Instructions Screens */

/* This style applies to ALL instructions screens */
.instructionsPara {
  color: black;
  text-align: center;
  font-style: normal;
  font-size: 24px;
  font-family: "Times New Roman";
  text-wrap: balance;
  width: 600px;
  line-height: 1.2em;  
}

/* This style applies only to the instructions page X */

#instructPage1 {
  color: black;
  text-align: center;
  font-style: normal;
  font-size: 18px;
  font-family: "Times New Roman";
}

/* Trial Instructions */

#trialInstPrompt {

  /* Font Styles */
  color: black;
  text-align: center;
  font-style: normal;
  font-size: 32px;
  font-family: "Times New Roman";
  text-wrap: balance;
  width: 600px;
  line-height: 1.2em;

}

#buttonStyle {

  /* Position Styles */
  position: fixed;
  left: 50%;
  bottom: 5%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  /* Font Styles */
  color: black;
  text-align: center;
  font-style: normal;
  font-size: 32px;
  font-family: "Times New Roman";

}

/* Images Styles */

/* Applies to the image representing the top left choice during the trial instructions event and the trial event. */

#jspsych-html-button-response-button-0, #topLeftStim {

  /* Position Styles */  
  position: fixed;
  left: 0;
  top: 0;

}

/* Applies to the image representing the top right choice during the trial instructions event and the trial event. */

#jspsych-html-button-response-button-1, #topRightStim {

  /* Position Styles */  
  position: fixed;
  right: 0;
  top: 0;

}

/* Applies to the image the in the center of the screen during the trial */

#centerStim {

  /* Size Styles */  
  width: 150px;
  height: 150px;

}

#trialPrompt {

  color: black;
  text-align: center;
  font-style: normal;
  font-size: 32px;
  font-family: "Times New Roman";

}

/* Farewell Screen */

#farewellPara {

  color: black;
  text-align: center;
  font-style: normal;
  font-size: 32px;
  font-family: "Times New Roman";  

}

#farewellLink {
  color: black;
  text-align: center;
  font-style: normal;
  font-size: 32px;
  font-family: "Times New Roman";    
}