#jspsych-html-button-response-button-0, #topLeftStim {

  /* Position Styles */  
  position: fixed;
  left: 0;
  top: 0;

}

#jspsych-html-button-response-button-1, #topRightStim {

  /* Position Styles */  
  position: fixed;
  right: 0;
  top: 0;

}

#centerStim {
  /* Size Styles */  
  width: 150px;
  height: 150px;
}

#buttonStyle {

  /* Position Styles */
  position: fixed;
  left: 50%;
  bottom: 5%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  /* Font Styles */
  color: black;
  text-align: center;
  font-style: normal;
  font-size: 32px;
  font-family: "Times New Roman";

}

#promptStyle {

    /* Font Styles */
    color: black;
    text-align: center;
    font-style: normal;
    font-size: 32px;
    font-family: "Times New Roman";
    text-wrap: balance;
    width: 600px;
    line-height: 1.2em;

}